@import 'mixins', 'colors';
*{
    margin: 0 !important;
}

header {
    @include flexbox(mobile);
    background-color: $dkGreen;
    height: 30vh;
    padding-bottom: 10px;
    border-bottom: 3px solid $brightGreen;
}


li {
    list-style: none;
    color: $babyBlue;
    &:hover {
        border-bottom: 1px solid $orange;
        cursor: pointer;
    }
}

.title {
    color: $babyBlue;
    font-size: 3em;
}

.start-buttons {
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    button{
        width: 20vw;
        height:5vh;
        background-color: $midGreen;
        color: $brightGreen;
        outline: none;
        border: none;
        border-radius: 18px;
    }
}

body{
    background-color: $babyBlue;
}

// features

h2{
    font-size: 2em;
    text-align: center;
}

.featured {
    @include flexbox(mobile);
}
section {
    @include flexbox(mobile);
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-bottom: 5px solid $orange;
    border-left: 5px solid $orange;
    border-right: 5px solid $orange;
    border-radius: 25px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    transition: border-bottom .5s, margin-bottom .5s;

    &:hover {
        border-bottom: 10px solid $orange;
        margin-bottom: 10px !important;
    }
    h2 {
        padding-bottom: 5px;
        color: $dkGreen;
    }

    h3 {
        color: $midGreen;
        width: 40%;
    }

    h3:before {
        content: ">";
    }
    
}

//About Section

.about {
    margin-top: 10vh !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-top: 1px solid $orange;
    border-radius: 25px;
    padding: 10px;
    background-color: $dkGreen;
    transition: border-top .5s;
    &:hover {
        border-top: 15px solid $orange;
        cursor: pointer;
    }

    h2 {
        color: $brightGreen;
        padding-bottom: 10px;
    }
    p {
        padding: 10px;
        color: $babyBlue;
    }
}

//forms

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $dkGreen;
    min-height: 100vh;
    height: auto;
    overflow: scroll;
    width: 90vw;
    margin-left: auto !important;
    margin-right: auto !important;
    color: $orange;
    border: 2px solid $orange;
    @include boxshadow();
    .back-button {
        outline: none;
        border: none;
        text-align: left;
        align-self: flex-start;
        margin-bottom: 2vh !important;
        background-color: transparent;
        font-size: 1.5em;
        color: $babyBlue;
        &:hover {
            cursor: pointer;
            color: $brightGreen;
            @include textshadow();
        }
    }
    h2 {
        font-size: 5em;
        @include textshadow();
        margin-bottom: 7vh !important;
    }
    label {
        font-size: 2em;
        margin: 2px 0px !important;
        @include textshadow();
    }
    input {
        width: 50vw;
        height: 3vh;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .submit-btn {
        outline: none;
        border: 1px solid $orange;
        background-color:transparent;
        margin: 5vh auto !important;
        font-size: 2em;
        color: $orange;
        height: auto;
        @include textshadow();
        @include boxshadow();

        &:hover {
            background: $orange;
            color: $dkGreen;
        }
    }
}

  


